openapi: 3.0.0
info:
  title: Yelp Business Search API
  description: API for searching businesses on Yelp
  version: 1.0.0
servers:
  - url: https://api.yelp.com/v3/
paths:
  /businesses/search:
    get:
      summary: Search businesses on Yelp
      parameters:
        - in: query
          name: location
          required: true
          schema:
            type: string
          description: The location to search for businesses in
        - in: query
          name: term
          required: true
          schema:
            type: string
          description: The term to search for
        - in: query
          name: sort_by
          schema:
            type: string
            default: best_match
          description: The sort order for the search results
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
          description: The maximum number of results to return
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  businesses:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the business
                        alias:
                          type: string
                          description: The alias of the business
                        name:
                          type: string
                          description: The name of the business
                        image_url:
                          type: string
                          description: The URL for the business's main image
                        is_closed:
                          type: boolean
                          description: Indicates whether the business is currently closed
                        url:
                          type: string
                          description: The URL for the business's Yelp page
                        review_count:
                          type: integer
                          description: The number of reviews for the business
                        categories:
                          type: array
                          items:
                            type: object
                            properties:
                              alias:
                                type: string
                                description: The alias of the category
                              title:
                                type: string
                                description: The title of the category
                        rating:
                          type: number
                          description: The average rating for the business
                        coordinates:
                          type: object
                          properties:
                            latitude:
                              type: number
                              format: float
                              description: The latitude of the business's location
                            longitude:
                              type: number
                              format: float
                              description: The longitude of the business's location
                        transactions:
                          type: array
                          items:
                            type: string
                            description: The types of transactions supported by the business
                        price:
                          type: string
                          description: The price range for the business
                        location:
                          type: object
                          properties:
                            address1:
                              type: string
                              description: The first line of the business's address
                            address2:
                              type: string
                              description: The second line of the business's address
                            address3:
                              type: string
                              description: The third line of the business's address
                            city:
                              type: string
                              description: The city of the business's address
                            zip_code:
                              type: string
                              description: The zip code of the business's address
                            country:
                              type: string
                              description: The country of the business's address
                            state:
                              type: string
                              description: The state of the business's address
                        phone:
                          type: string
                          description: The phone number of the business
                        display_phone:
                          type: string
                          description: A formatted version of the business's phone number
                        distance:
                          type: number
                          format: float
                          description: The distance between the business and the given location